<div class="d-flex justify-content-center pl-0 pr-0">
  <div class="d-flex flex-column bg-primary-light shadow">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="sub-card-header-text text-white font-weight-bold"
          >PROJECTS</span
        >
      </div>
      <div class="d-flex align-items-center mr-2">
        <span class="dot ml-1 bg-primary-light"></span>
      </div>
    </div>
    <div class="card m-2 h-100">
      <div class="pt-2 pl-sm-2 pr-sm-2">
        <div class="card-text text-monospace p-2">
          <div class="shadow card-body mb-3 rounded">
            <span class="h3 text-primary-light font-weight-bold"
              >Stock Management</span
            >

            <div class="d-flex flex-wrap mt-2 pb-2 tech-stack">
              <span class="mr-2 mb-2">Angular 6</span>
              <span class="mr-2 mb-2">Node API</span>
              <span class="mr-2 mb-2">SQL DB</span>
              <span class="mr-2 mb-2">Angular Material</span>
              <span class="mr-2 mb-2">Prime NG</span>
              <span class="mr-2 mb-2">Gitlab CI/CD</span>
            </div>

            <div class="bg-secondary-light card-body card-body-text">
              <p>
                Our client used a pre-existing system, developed in Foxpro, for
                managing stocks i.e. packing & shipping new stock from warehouse
                to shops and vice versa. The project was for migrating this
                legacy system to a Angular web app.
              </p>
              <p>
                We were a team of two, both freshers and we were given full
                autonomy over this project. There was little to no knowledge of
                how the old system worked along with no senior devs in the team.
              </p>
              <p>
                We had to understand the Foxpro code & reverse engineer it. We
                initialised by creating scope for project, identifying
                MVP(minimum viable product). The development was divided into 3
                phases and at the end of each phase we would take feedback from
                client. The system had location and role based authorisation
                e.g. If you are a junior level employee at a particular location
                then you would have access to only some particular features.
              </p>
              <p>
                We created a new UI which had 8 tabs and each tab would mean
                that stock had reached a particular level. i.e. packed, shipped
                etc. Each tab also displayed a list of stock in form of table
                for a selected location. On each level/tab user had the ability
                to manipulate/update stocks based on their authorisation. We
                used PrimeNG for tables and Angular Material for designing. Code
                review was done by a senior dev. There was also manual testing
                performed. One of major challenges was to make UI responsive as
                it could also be used in ipad as well.
              </p>

              <p>
                This was a great learning experience as we were responsible for
                doing everything, from understanding the system to creating our
                own stories to creating a new Angular based application.
                Stakeholders were really happy and they also directly reached to
                our CTO appreciating our contribution to the project.
              </p>
            </div>
          </div>

          <div class="shadow card-body mb-3 rounded">
            <span class="h3 text-primary-light font-weight-bold"
              >Customer Management</span
            >

            <div class="d-flex flex-wrap mt-2 pb-2 tech-stack">
              <span class="mr-2 mb-2">Angular 6</span>
              <span class="mr-2 mb-2">GraphQL API</span>
              <span class="mr-2 mb-2">Angular Material</span>
              <span class="mr-2 mb-2">Prime NG</span>
              <span class="mr-2 mb-2">Agile Development</span>
              <span class="mr-2 mb-2">SQL DB</span>
              <span class="mr-2 mb-2">Gitlab CI/CD</span>
              <span class="mr-2 mb-2">Unit Testing</span>
            </div>

            <div class="bg-secondary-light card-body card-body-text">
              <p>
                This project was already ongoing for a year and half when I
                become part of it. The project was about creating a customer
                management application.
              </p>
              <p>
                This was a larger project with a bigger team size (including
                off-shore devs). This was my first Agile based software
                development experience. This was a highly organised team with
                people having decades of domain experience.
              </p>
              <p>
                As a developer, I was responsible for implementing stories and
                unit test cases with highest quality in a given period of time.
                Stories assigned to me were not specific to frontend or backend.
                So I got to work on both ends. This project had GraphQL APIs
                along with both manual and automation testing. So the code
                quality was one of the best that I have seen so far.
              </p>

              <p>
                I worked in this project for around 3 months learning a great
                deal about agile, graphql, automation testing and code quality.
              </p>
            </div>
          </div>

          <div class="shadow card-body mb-3 rounded">
            <span class="h3 text-primary-light font-weight-bold"
              >Third party integration using SAML</span
            >

            <div class="d-flex flex-wrap mt-2 pb-2 tech-stack">
              <span class="mr-2 mb-2">Angular 8</span>
              <span class="mr-2 mb-2">JWT</span>
              <span class="mr-2 mb-2">SAML</span>
              <span class="mr-2 mb-2">Node API</span>
              <span class="mr-2 mb-2">Angular Material</span>
            </div>

            <div class="bg-secondary-light card-body card-body-text">
              <p>
                Here I was a part of the team where we had to integrate a third
                party application using SAML(Security Assertion Markup Language)
                protocol. It was allowing users to access third party apps using
                SSO(single sign on). Once user is logged into one app, they can
                use any app inside of that using SAML assertions.
              </p>
              <p>
                My contribution to the project was researching on SAML and
                creating and API which enables to parse the SAML responses to
                coming to it and if the response is valid, it creates JWT token
                for user and sends it to our UI. The UI displayed the available
                leaves of that employee. I also helped in creating interceptors
                in Angular which were used for handling JWT tokens.
              </p>
            </div>
          </div>

          <div class="shadow card-body mb-3 rounded">
            <span class="h3 text-primary-light font-weight-bold"
              >Ionic POC</span
            >

            <div class="d-flex flex-wrap mt-2 pb-2 tech-stack">
              <span class="mr-2 mb-2">Ionic</span>
              <span class="mr-2 mb-2">Node API</span>
              <span class="mr-2 mb-2">SQL DB</span>
            </div>

            <div class="bg-secondary-light card-body card-body-text">
              <p>
                Our client uses android devices for scanning and picking stocks
                from warehouse. They wanted to test Ionic framework for mobile
                devices. So I was given the opportunity to a POC in Ionic.
              </p>
              <p>
                They gave the freedom to choose any small feature. So instead of
                only going for POC we decided to develop a small working
                prototype which could actually be used by them. My contribution
                in the project was researching and developing the app in Ionic
                while identifying how hybrid development was different from
                native app development and present the conclusions to client.
              </p>
              <p>
                The app was a simple picking and scanning app. User was able to
                see a list of stock, which then can be picked and scanned by
                them. This lasted around a month and based on the POC demo, the
                client insisted upon continuing the project and create a full
                fledged app.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
